{% extends 'base.html' %}

{% block title %}Login with Social Media - Online Shop{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Login with Social Media</h4>
                </div>
                <div class="card-body">
                    <div class="d-grid gap-3">
                        <a href="{% url 'socialaccount_login' 'google' %}" class="btn btn-danger">
                            <i class="fab fa-google me-2"></i>Continue with Google
                        </a>
                        <a href="{% url 'socialaccount_login' 'facebook' %}" class="btn btn-primary">
                            <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                        </a>
                    </div>
                    
                    <hr>
                    
                    <div class="text-center">
                        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                        <p>New to our platform? <a href="{% url 'register' %}">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 